[submodule "submodules/uwsim_osgocean-release"]
	path = submodules/uwsim_osgocean-release
	url = https://github.com/uji-ros-pkg/uwsim_osgocean-release.git
	branch = debian/kinetic/xenial/uwsim_osgocean
[submodule "submodules/uwsim_osgworks-release"]
	path = submodules/uwsim_osgworks-release
	url = https://github.com/uji-ros-pkg/uwsim_osgworks-release.git
	branch = debian/kinetic/xenial/uwsim_osgworks
[submodule "submodules/uwsim_bullet-release"]
	path = submodules/uwsim_bullet-release
	url = https://github.com/uji-ros-pkg/uwsim_bullet-release.git
	branch = debian/kinetic/xenial/uwsim_bullet
[submodule "submodules/uwsim_osgbullet-release"]
	path = submodules/uwsim_osgbullet-release
	url = https://github.com/uji-ros-pkg/uwsim_osgbullet-release.git
	branch = debian/kinetic/xenial/uwsim_osgbullet
